openapi: 3.0.0
info:
  description: |
    The Checkout API manages checkout items
  title: Checkout API
  version: 1.0.0
servers:
- url: https://checkout.api/checkout
- url: http://checkout.api/checkout
- url: http://localhost:8000/checkout
tags:
- description: Manage checkout items
  name: Checkout
paths:
  /checkout:
    post:
      operationId: checkout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
        required: true
      responses:
        "204":
          description: Product was added successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request did not pass the business validation rules
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: checkout
      tags:
      - Checkout
components:
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Unexpected error
    InvalidRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Invalid request
    ValidationError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The request did not pass the business validation rules
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: The resource cannot be found
  schemas:
    Error:
      example:
        type: about:blank
        title: Not Found
        status: 404
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      required:
      - type
      type: object
    Product:
      example:
        quantity: 0
        sku: sku
      properties:
        sku:
          type: string
        quantity:
          type: integer
      required:
      - quantity
      - sku
      type: object
    CheckoutRequest:
      items:
        $ref: '#/components/schemas/Product'
      type: array
